@model sqQuestSvCore.Models.Quest

@{
    ViewData["Title"] = "Result";
}

<h2>Result</h2>

<div>
    <h4>Quest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.join)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.join)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.horoscope)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.horoscope)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.memo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.memo)
        </dd>
    </dl>
</div>
